body {
    background: #FFF8F0;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #55206d;
    margin: 0px;
    padding: 0px 0px 0px 12px;
}

h1 {
    font-family: "League+Spartan", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 2.7rem;
    text-align: center;
    color: #190D37;
    margin-top: 10px;
    margin-bottom: 39px;
}

h2 {
    font-family: "League+Spartan", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #000000;
    text-align: center;
}

h3 {
    text-align: center;
    margin: 8px auto 48px auto;
    max-width: 700px;
    color: #331E6A;
    font-weight: 400;
    line-height: 32px;
}

.small-text {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

#hi {
    margin-top: 8px;
}

.bigtext {
    color: #331E6A;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

#heroSection {
    display: flex;
    max-width: 1060px;
    margin: 0 auto 48px auto;
}

#Hero-Text {
    width: 100%;
    padding: 32px 0px 0px 0px;

}
#Hero-text {
    width: 60%;
}
#HeroText {
    width: 100%;
    padding: 32px 0px 32px 0px;

}
#Herotext {
    width: 60%;
}

#hero-image-width {
    width: 40%;
}

#hero-image {
    width: 100%;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

#Contact-button {
    height: 44px;
    width: 138px;
    border-radius: 4px;
    background: #2f2f2f;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 8px;
    cursor: pointer;
}


#sectionn {
    max-width: 1060px;
    margin: 0 auto 0 auto;
}

#ssection {
    display: flex;
    text-align: center;
    font-weight: 700;
    margin-top: 0px;
}

.work-description {
    margin-top: 8px;
    color: #000000;
}

.section {
    background: #ffffff;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
    margin-bottom: 48px;
}



.service .work-description {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    margin-top: 8px;
}

#pricing-section {
    max-width: 1060px;
    margin: 0 auto;
    margin: 48px auto;
}

.overtitle {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    color: #2858FF;
    text-align: center;
    margin-bottom: 8px;
}

.section-heading {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.section-subtitle {
    text-align: center;
    margin: 8px auto 48px auto;
    max-width: 700px;
}

#Project {
    max-width: 1060px;
    margin: 0 auto;
    margin: 48px auto;
}
.project-table {
    padding: 10px;
}
.project-name {
    display: flex;
}

#PN {
    text-align: center;
    font-size: 32px;
    line-height: 67px;
}

.PN {
    background: #ffffff;
    margin: 0px 10px;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
}
.card-1 {
    background: #DBE4C9;
    color: #854836;
}
.card-3 {
    background: #F0E4D3;
    color: #854836;
}
#card-4{
    background-color: #F2EAD3;
}
.project-discription {
    background: #ffffff;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
}
/* .project-n {
    color: #2858FF;
} */
#pricing-boxes {
    display: flex;

}

.pricing-boxes {
    width: 33.3%;

}

.pricing-card {
    background: #ffffff;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
    text-align: center;
}

.service {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 21;
    line-height: 21px;
    text-transform: uppercase;
    color: #2858ff;
}

.price {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 300px;
    color: #000000;
    margin-top: 2px;
}

.price-per {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #8A8A8A;
}
.service{
        color: #000000;
        font-weight: 700;
    }
.service-description {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #000000;
    margin-top: 4px;
}

.service-benifits {
    padding-left: 0;
    list-style-type: none;
}

.service-benifits {
    margin-bottom: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
}

.service-c-button {
    width: 100%;
    padding: 12px;
    height: 44px;
    border-radius: 4px;
    border-width: 2px solid #2F2F2F;
    background: #ffffff;
    color: #2f2f2f;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.service-c-button:hover {
    background: #2f2f2f;
    color: #ffffff;
    cursor: pointer;
}

.card-2 {
    background: #ffd748;
}

.card-2 .service {
    color: #000000;
}
.card-1 {
    background: #DBE4C9;
    color: #854836;
}
.card-3 {
    background: #F0E4D3;
    color: #854836;
}
#card-4{
    background-color: #F2EAD3;
}
.card-2 li {
    color: #00000f;
}

.card-2 .service-description {
    color: #00000080;
}

.card-2 .price-per {
    color: #00000080;
}

.card-2 .service-c-button {
    background: #2f2f2f;
    color: #ffffff;
}

.card-2 .service-c-button:hover {
    background: #ffffff;
    color: #2f2f2f;
}
.links {
    text-align: center;
    font-size: 1.5rem;
    padding: 8px;
}
#link {
    color: #854836;
}
#footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #C9B59C;
    color: #000000;
    margin-top: 48px;
}


    /* this is for tablet */
@media (max-width: 768px) {
    #heroSection{
        flex-direction: column;
        align-items: center;
        margin-left: auto;
    }
    #Herotext, #hero-image-width {
        width: 100%;
    }

    #pricing-boxex {
        flex-direction: column;
    }
    .pricing-boxes{
        width: 100px;
        margin-bottom: 20px;
    }
}
    /* this is for mobile */
@media (max-width: 600px) {
    h1{
        font-size: 2rem;
        line-height: 2.2rem;
        text-align: center;
    }
    h2{
        font-size: 24px;
        line-height: 32px;
    }
    h3{
        font-size: 16px;
        line-height: 24px;
    }
    .section, .project-discription, .pricing-card{
        margin: 16px auto;
        padding: 12px;
    }
    #hi{
        text-align: center;
        margin-top: 8px;
    }
    .sm{
        margin-top: 8px;
    }
    .bigtext{
        margin-top: 8px;
    }
    #Hero-Text {
    width: 100%;
    padding: 0px 0px 0px 0px;
    }

    #Hero-text {
        width: 60%;
    }
    #HeroText {
        width: 100%;
        padding: 0px 0px 0px 0px;
        text-align: center;

    }
    #Herotext {
        width: 60%;
    }
    #Contact-button {
        height: 55px;
        width: 180px;
        border-top-left-radius:32px;
        border-top-right-radius: 32px;
        background: #C9B59C;
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
        line-height: 19px;
        color: #000000;
        display: block;
        margin: 20px auto;
        cursor: pointer;
        text-align: center;
        border: #ffffff;
    }
    #ssection{
        flex-direction: column;
    }
    .service{
        color: #000000;
        font-weight: 700;
    }
    .service .work-description {
        color: #000000;
        font-size: 36px;
        font-weight: 300;
        margin-top: 8px;
    }
    .project-name{
        flex-direction: column;
    }
    .project-name{
        text-align: center;
    }
    .card-1 {
    background: #DBE4C9;
    color: #854836;
    }
    .card-3 {
        background: #F0E4D3;
        color: #854836;
    }
    #card-4{
        background-color: #F2EAD3;
    }
    .PN{
        border-top-left-radius: 48px;
        border-top-right-radius: 48px;
    }
    #pricing-boxes{
        flex-direction: column;
    }
    .pricing-boxes {
    width: 100%;
    }
    .service-c-button {
        width: 100%;
        padding: 12px;
        height: 44px;
        border-radius: 4px;
        border-width: 0;
        background: #ffffff;
        color: #2f2f2f;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
    }
    .price {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        color: #000000;
        margin-top: 0px;
    }
    .service-description {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        color: #000000;
        margin-top: 8px;
    }
    .pricing-card{
        text-align: center;
    }

}